

<footer class="footer">
    <ul class="footer-nav">
      <li class="footer-nav__item">
        <a href="#" class="footer-nav__link"
          ><span class="footer-nav__link__svg-container">
            <svg class="footer-nav__link__icon footer-nav__link__icon--3">
              <use xlink:href="img/sprite.svg#icon-info_outline"></use></svg
            >About Us
          </span></a
        >
      </li>
      <li class="footer-nav__item">
        <a href="#" class="footer-nav__link"
          ><span class="footer-nav__link__svg-container">
            <svg class="footer-nav__link__icon footer-nav__link__icon--4">
              <use
                xlink:href="img/sprite.svg#icon-contact_phone"
              ></use></svg
            >Contact Us
          </span></a
        >
      </li>
      <li class="footer-nav__item">
        <a href="#" class="footer-nav__link"
          ><span class="footer-nav__link__svg-container">
            <svg class="footer-nav__link__icon footer-nav__link__icon--5">
              <use xlink:href="img/sprite.svg#icon-live_help"></use></svg
            >FAQs
          </span>
        </a>
      </li>
      <li class="footer-nav__item">
        <a href="#" class="footer-nav__link"
          ><span class="footer-nav__link__svg-container">
            <svg class="footer-nav__link__icon footer-nav__link__icon--6">
              <use
                xlink:href="img/sprite.svg#icon-wheelchair_pickup"
              ></use></svg
            >Pick-Ups
          </span>
        </a>
      </li>
      <li class="footer-nav__item">
        <a href="#" class="footer-nav__link"
          ><span class="footer-nav__link__svg-container">
            <svg class="footer-nav__link__icon footer-nav__link__icon--7">
              <use xlink:href="img/sprite.svg#icon-stack_overflow"></use>
            </svg>
            Tech-Stack
          </span></a
        >
      </li>
    </ul>
    <div id="company-map" style=" height: 32rem; display:flex; "></div>

    <p class="copyright">
      &copy; Copyright 2024 by Nzube.D.Uche-Daniel. A showcase of innovative
      dinning experiences.This application solves the need for an engaging
      digital solution in the hospitality sector. This application was
      designed and developed by me, Nzube.D.Uche-Daniel as part of my
      Portifolio to demonstrate my skills in Html,Sass,React.js, Next.js,
      Mongo DB,Express and Node.js. Conect with developer:
      <a href="#" class="footer-nav__link"
        ><span class="footer-nav__link__svg-container--1">
          <svg class="footer-nav__link__icon footer-nav__link__icon--1">
            <use xlink:href="img/sprite.svg#icon-linkedin"></use>
          </svg> </span
        >Linkedin</a
      >
      <a href="#" class="footer-nav__link">
        <span class="footer-nav__link__svg-container--1">
          <svg class="footer-nav__link__icon footer-nav__link__icon--2">
            <use xlink:href="img/sprite.svg#icon-instagram"></use>
          </svg> </span
        >Instagram</a
      >.
    </p>
  </footer>
