<header class="header">
          
    <div class="header__logo">
      Genesis Eco-power systems
    </div>

    <ul class="header__nav  nav-menu">
     <li class="header__nav__links  ">
      <a href="#HERO" class="header__nav__link  header__nav__link--active">Home</a>
     </li>
     <li class="header__nav__links dropdown">
      <a href="#ABOUT" class="header__nav__link dropbtn">About us</a>
    
      <div class="dropdown-content">
        <a href="#ABOUT">Our story</a>
        <a href="#ABOUT">Mission & Vision</a>
        <a href="#ABOUT"> Team</a>
        <a href="#ABOUT">Careers</a>
      </div>

     </li>
     <li class="header__nav__links dropdown" >
      <a href="#SERVICE" class="header__nav__link  dropbtn">Services</a>

      <div class="dropdown-content">
        <a href="#SERVICE">Residential Solar Solutions</a>
        <a href="#SERVICE">Commercial Solar Solutions</a>
        <a href="#SERVICE"> Solar Panel Installation</a>
        <a href="#SERVICE">Solar Panel Maintenance</a>
      </div>
     </li>
  
     <li class="header__nav__links dropdown">
      <a href="#PRODUCT" class="header__nav__link dropbtn">Products</a>

      <div class="dropdown-content">
        <a href="#PRODUCT">Solar panels</a>
        <a href="#PRODUCT">Inverters</a>
        <a href="#PRODUCT"> Batteries</a>
        <a href="#PRODUCT">Accessories</a>
      </div>

     </li>
     <li class="header__nav__links dropdown">
      <a href="#PROJECTS" class="header__nav__link dropbtn">Projects</a>

      
      <div class="dropdown-content">
        <a href="#PROJECT">Residential Projects</a>
        <a href="#PROJECT">Commercial Projects</a>
        <a href="#PROJECT"> Case Studies</a>
      
      </div>
      
     </li>
    
      <li class="header__nav__links  dropdown">
      <a href="#NEWS" class="header__nav__link  dropbtn">Resoures</a>

      <div class="dropdown-content">
        <a href="#NEWS">Blog</a>
        <a href="#NEWS">FAQs</a>
        <a href="#NEWS"> Solar Energy Guide</a>
        <a href="#NEWS"> Financial Incentives</a>
        <a href="#NEWS"> Customer Testimonials</a>
      </div>

     </li> 
<!-- 
      <li class="header__nav__links">
      <a href="#" class="header__nav__link">Contact us</a>
     </li> -->
<!--             
     <li class="header__nav__links">
      <a href="#" class="header__nav__link">Support</a>
     </li> -->
    
     <li class="header__nav__links dropdown">
      <a href="#NEWS" class="header__nav__link dropbtn">News & Event</a>

      <div class="dropdown-content">
        <a href="#NEWS">Latest News</a>
        <a href="#NEWS">Upcomming Events</a>
        <a href="#NEWS"> Press Releases</a>
      </div>

     </li>

     <!-- <li class="header__nav__links">
      <a href="#" class="header__nav__link">Register</a>
     </li> -->
    
    </ul>
   
  
</header>