<% layout("layouts/boilerPlate") %>


<div class="hero" id="HERO">
    <h3 class="hero__logo"> &nbsp;</h1>
    <h2 class="hero__heading  heading-3"> Our Innovative Eco-Powered solution:</h2>
    <h3 class="hero__heading  heading-1">Illumating your homes with green energy for a reliable  and sustainable tomorrow </h3>
    
     
    <a href="/home#PRODUCT" style="text-decoration:none ;">
      <button class=" btn hero__btn "><span>switch to solar</span> </button>
    </a>
        

 
    
      <div class="hero__seenon-text">Seen on</div>
      <div class="hero__seenon-logos">
        <img src="/img/logo-bbc.png" class="hero__img  hero__img--1" alt="Seen on logo 1" />
        <img src="/img/logo-forbes.png"  class="hero__img  hero__img--2" alt="Seen on logo 2" />
        <img src="/img/logo-techcrunch.png" class="hero__img  hero__img--3"  alt="Seen on logo 3" />
        <img src="/img/logo-bi.png"  class="hero__img  hero__img--4"  alt="Seen on logo 4" />
       
      </div>

    


   </div> 

